################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# (ASP.NET)/ContosoDemoNAV/obj/Debug
