@{
    ViewBag.Title = "Contoso Family Farming Cloud - Powered by Microsoft Dynamics NAV";
}

<div class="jumbotron">
    <h1>Contoso Family Farming Cloud</h1>
    <p class="lead">Contoso Family Farming Cloud - Powered by Microsoft Dynamics NAV is a cloud-based enterprise resource planning (ERP) solution for successfuly family owned farming businesses - such as yourself.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Microsoft Dynamics NAV</h2>
        <p>Microsoft Dynamics NAV is a global enterprise resource planning (ERP) solution that provides small and midsize businesses greater control over their financials and can simplify their supply chain, manufacturing, and operations. It's quick to implement and easy to use, with the power to support your growth ambition.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contoso</h2>
        <p>When it comes to Family Farming, Contoso is your best partner. We have provided small family farming businesses with tools to plan and manage their business operations since 2001, and we know your business inside out. You focus on what you do the best - producing healthy food. We take care of all the rest.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Start Today</h2>
        <p>Your onw trial of Contoso Family Farming Cloud - Powered by Microsoft Dynamics NAV is only a click away. Start your own free 30-day trial experience and join the family of more than 150 other farming businesses in more than 20 countries all over the world.</p>
        <p><a class="btn btn-danger" href="@Url.Action("Index", "SignUp")">Sign up &raquo;</a></p>
    </div>
</div>